ul {
  padding:0;
  margin:0;
  list-style-type:none;
}
li {
  margin-left:2px;
  float:left; /*pour IE*/
}
.carousel {
}
.main-image {
  width:  100%;
  height: 330px;
  object-fit: cover;
}

.image-thumbs {
  cursor: pointer;
  width:  120px;
  height: 80px;
  object-fit: cover;
  padding-bottom: 2px;
  transition-duration: 150ms;
}
.image-thumbs:hover {
  opacity: 80%;
}

.thumbs {
  display: inline-block;
  border: 1px solid  rgba(229, 229, 229, 0.1);;
  padding: 3px;
  width: 500px;
}


figure {
  float: left;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto;
  background: #1e1e1e;
  padding: 1em;
}

img {
  display: block;
}

.container {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  background-color: white;
  padding: 20px;
}
