.bg-image {
  position: relative;
  background: url("../../../assets/pic/cmaibc2.jpg") no-repeat center center /cover ;
  height: 280px;
  width: 100%;
}

.block {
  padding: 4px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 5px 5px 6px #111111;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid #949494;
  transition-duration: 70ms;
  background-color: #85ddf4;
  opacity: 60%;
}


.block:hover {
  opacity: 80%;
  background-color: #5ac0d6;
  border-color: #1c1c1c;
}

.marque-buttons {
  height: auto;
  bottom: 10px;
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  opacity: 90%;
}
