<div class="container">
  <div class="row align-items-end form-group bg-image">
    <div class="col-sm-12">
      <div class="marque-buttons">
        <img class="block" src="../../../assets/pic/peugeot.png" (click)="searchByMarque('Peugeot')">
        <img class="block" src="../../../assets/pic/volkswagen.png" (click)="searchByMarque('Volkswagen')">
        <img class="block" src="../../../assets/pic/citroen.png" (click)="searchByMarque('Citroen')">
        <img class="block" src="../../../assets/pic/renault.png" (click)="searchByMarque('Renault')">
        <img class="block" src="../../../assets/pic/fiat.png" (click)="searchByMarque('Fiat')">
        <img class="block" src="../../../assets/pic/ford.png" (click)="searchByMarque('Ford')">
      </div>
    </div>
  </div>
</div>
