.user-info {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition-duration: 250ms;
}

.user-info:hover {
  background-color: #f0f0f0;
}

.table-bordered {
  border-top: 1px solid #929292;
  background-color: #e2e2e2;
}

.danger {
  background-color: #d42838;
}

.btn {
  margin-top: 10px;
}

.alert {
  font-size: 14px;
}

.container {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  background-color: white;
  padding: 20px;
}

.calendar {
  cursor: text;
}


input::-webkit-calendar-picker-indicator{
  display: none;
}
input[type="date"]::-webkit-input-placeholder{
  visibility: hidden !important;
}

.auth {
  background-color: #f2fbf2;
}

.form-block {
  padding: 20px;
}
