<div class="container annonce-border">
  <div class="form-row margin-bottom-20">
    <div class="col-lg-12">
      <span class="head-text user-info" id="name" (click)="click($event)" *ngIf="fullName && clickedElemId !== 'name'">{{fullName}} <fa-icon class="icon-small-small" [icon]="faEdit"></fa-icon></span>
      <span class="text-muted user-info" id="name" (click)="click($event)" *ngIf="!fullName && clickedElemId !== 'name'">Saisissez votre nom et prénom <fa-icon class="icon-small-small" [icon]="faPlus"></fa-icon></span>

      <span *ngIf="clickedElemId === 'name'">
        <input class="form-control form-control-lg" type="text" [(ngModel)]="fullName"/>
        <button class="btn btn-success" (click)="updateUserDetails($event)">OK</button>
        <button class="btn btn-success" (click)="cancel()">Cancel</button>
      </span>
    </div>
  </div>

  <div class="form-block">
    <div class="form-row margin-bottom-20">
      <div class="col-lg-2">Date de naissance</div>
      <div class="col-lg-6">
        <span id="naissance" class="user-info" *ngIf="userInfo.dob && clickedElemId !== 'naissance'" (click)="click($event)">
          {{userInfo.dob}} <fa-icon class="icon-small text-muted" [icon]="faEdit"></fa-icon>
        </span>
        <span class="text-muted user-info" id="naissance" (click)="click($event)" *ngIf="!userInfo.dob && clickedElemId !== 'naissance'">
          Saisissez votre date de naissance <fa-icon class="icon-small-small" [icon]="faPlus"></fa-icon>
        </span>
        <span *ngIf="clickedElemId === 'naissance'">
          <input (keyup)="dobCapture($event)"  type="text" pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)"
                 inputmode="numeric" class="form-control"
                 placeholder="dd/mm/yy" maxlength="10"  [(ngModel)]="dob" >
          <span *ngIf="customMessage" class="alert alert-danger">{{customMessage}}</span><br/>
          <button class="btn btn-success" (click)="updateUserDetails($event)">OK</button>
          <button class="btn btn-success" (click)="cancel()">Cancel</button>
        </span>
      </div>
    </div>

    <div class="form-row margin-bottom-20">
      <div class="col-lg-2">Username</div>
      <div class="col-lg-6">
        <span id="username" class="user-info" *ngIf="clickedElemId !== 'username'" (click)="click($event)">
          {{user.userName}} <fa-icon class="icon-small text-muted" [icon]="faEdit"></fa-icon>
        </span>
        <span *ngIf="clickedElemId === 'username'">
          <input class="form-control form-control-md" type="text" [(ngModel)]="user.userName"/>
          <span *ngIf="customMessage"  class="alert alert-danger">{{customMessage}}</span>
          <button class="btn btn-success" (click)="updateUser($event)">OK</button><button class="btn btn-success" (click)="cancel()">Cancel</button>
        </span>
      </div>
    </div>

    <div class="form-row margin-bottom-20">
      <div class="col-lg-2">Date d'inscription</div>
      <div class="col-lg-6">
        <span class="user-info">{{user.dateRegistration}}</span>
      </div>
    </div>
  </div>

  <form class="auth form-block">
    <div class="row form-group margin-bottom-20">
      <div class="col-lg-2">E-mail</div>
      <div class="col-lg-6">
        <span id="email" class="user-info" *ngIf="clickedElemId !== 'email'" (click)="click($event)">
          {{account.email}} <fa-icon class="icon-small text-muted" [icon]="faEdit"></fa-icon>
        </span>
        <div *ngIf="clickedElemId === 'email'">
          <input autocomplete="off" name="email" class="form-control form-control-md" type="text" [(ngModel)]="account.email" />
          <span *ngIf="!customMessage" class="help-block">Saisissez votre mot de passe et cliquez sur « Modifier »</span>
          <span *ngIf="customMessage" class="alert alert-danger">{{customMessage}}</span><br/>
          <input autocomplete="off" name="confirmationPassword" class="form-control form-control-md" type="password" placeholder="Password" [(ngModel)]="account.password" />
          <button class="btn btn-success" (click)="updateAccount($event)">Modifier</button><button class="btn btn-success" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="row form-group margin-bottom-20">
      <div class="col-lg-2">Mot de pass</div>
      <div class="col-lg-6">
        <span id="pass" class="user-info" *ngIf="clickedElemId !== 'pass'" (click)="click($event)">**********</span>
        <div *ngIf="clickedElemId === 'pass'">
          <span *ngIf="customMessage" class="alert alert-danger">{{customMessage}}</span><br/>
          <input autocomplete="off" name="oldPassword" placeholder="Ancient mot de pass" class="form-control form-control-md margin-bottom-10" type="password" [(ngModel)]="oldPass" />
          <input autocomplete="off" name="newPassword" placeholder="Nouveau mot de pass" class="form-control form-control-md margin-bottom-10" type="password" [(ngModel)]="newPass" />
          <input autocomplete="off" name="newPasswordConfirm" placeholder="Confirmez le mot de pass" class="form-control form-control-md margin-bottom-10" type="password" [(ngModel)]="newPassConfirm"/>
          <button class="btn btn-success" (click)="updatePassword($event)">OK</button><button class="btn btn-success" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="row form-group margin-bottom-20">
      <div *ngIf="!deleteEvent" class="col-lg-6"><button class="btn btn-danger danger" (click)="deleteAccount()">Supprimer le compte</button></div>
      <div *ngIf="deleteEvent" class="col-lg-6">
        <input class="form-control form-control-md" type="password" placeholder="Password" [(ngModel)]="passwordDelete" />
        <span *ngIf="!customMessage" class="help-block">Saisissez votre mot de passe et cliquez sur « Confirmer »</span>
        <span *ngIf="customMessage" class="alert alert-danger">{{customMessage}}</span><br/>
        <button class="btn btn-danger danger" (click)="confirmDelete()">Confirmer</button>&nbsp;<button class="btn btn-danger danger" (click)="cancel()">Annuler</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="changementSuccess" id="hideMe" class="alert alert-success notification-window" data-auto-dismiss role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Les changement son effectués avec success
</div>
